@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .menu__btn {
    margin-right: 42px;
  }

  .logo::after {
    left: -21px;
  }

  .services {
    &__row {
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
    }
    &__info {
      padding-right: 48px;
      // max-width: 315px;
    }
    &__img img {
      width: auto;
      max-width: 362px;
      height: auto;
    }
  }

  //  Brands
  .brands--mobile {
    display: none;
  }

  .brands--notmobile {
    display: block;
  }

  .brands {
    margin: 50px 0;
    &__title {
      margin: 0 -24px 24px;

      border-top: 1px solid #d9fff5;
      background: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);

      color: $textcolor;
      text-transform: uppercase;
      font-size: $fz + 2;
      font-weight: 400;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      row-gap: 16px;
      column-gap: 24px;

      margin-bottom: 24px;

      max-height: 175px;
      overflow: hidden;
      transition: max-height 0.4s ease-in;
    }

    &__item {
      width: 190px;
    }
  }

  .brands__items.brands__items--expanded {
    max-height: 500px;
  }
}
