@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("../fonts/TT Lakes Regular"), local("../fonts/TTLakes-Regular"), url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("../fonts/TT Lakes Medium"), local("../fonts/TTLakes-Medium"), url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("../fonts/TT Lakes Bold"), local("../fonts/TTLakes-Bold"), url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Light.eot");
  src: local("../TT Lakes Light"), local("../fonts/TTLakes-Light"), url("../fonts/TTLakes-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Light.woff") format("woff"), url("../fonts/TTLakes-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

button {
  border: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.main-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 100vh;
  padding: 0 24px;
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  position: absolute;
  left: 0;
  font-family: 'TT Lakes';
  font-weight: 500;
  font-size: 16px;
  color: #1b1c21;
}

.main-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu__btn {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  padding: 11px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ff3e79;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.main-menu__btn:hover {
  opacity: .8;
}

.main-menu__btn-line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: none;
  border-radius: 1px;
  position: relative;
}

.main-menu__btn-line::before {
  content: '';
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transform: rotate(45deg) translate(2px, 5px);
          transform: rotate(45deg) translate(2px, 5px);
}

.main-menu__btn-line::after {
  content: '';
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  position: absolute;
  top: 5px;
  left: 0;
  -webkit-transform: rotate(-45deg) translate(2px, -5px);
          transform: rotate(-45deg) translate(2px, -5px);
}

.main-menu__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-menu__column--header {
  margin-bottom: 50px;
  padding-top: 23px;
}

.main-menu__column--stretch {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-menu__column--footer {
  padding-bottom: 32px;
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu__list-item {
  margin-bottom: 32px;
}

.main-menu__list-item:last-child {
  margin-bottom: 0;
}

.main-menu__list-item--active {
  color: #7E7E82;
  position: relative;
}

.main-menu__list-item--active::before {
  content: '';
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: -50%;
  left: -24px;
}

.main-menu__list-item a {
  color: inherit;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.main-menu__list-item a:hover {
  color: #7E7E82;
}

.main-menu__footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin-bottom: 16px;
}

.main-menu__footer-email {
  display: block;
  margin-bottom: 12px;
  color: inherit;
}

.main-menu__footer-email:hover {
  text-decoration: underline;
}

.main-menu__footer-tel {
  display: block;
  margin-bottom: 40px;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.main-menu__footer-tel:hover {
  color: #7E7E82;
}

.link-icon {
  position: relative;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.link-icon:hover {
  opacity: .8;
}

.link-icon--search {
  content: '';
  background-image: url(../img/search.svg);
  width: 40px;
  height: 40px;
}

.link-icon--phone {
  content: '';
  background-image: url(../img/phone.svg);
  width: 40px;
  height: 40px;
}

.link-icon--message {
  content: '';
  background-image: url(../img/chat.svg);
  width: 40px;
  height: 40px;
}

.link-icon--profile {
  content: '';
  background-image: url(../img/profile.svg);
  width: 40px;
  height: 40px;
}

.language-switcher__item {
  cursor: pointer;
  background-color: inherit;
  padding: 0;
  margin-right: 7px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.language-switcher__item:last-child {
  margin-right: 0;
}

.language-switcher__item:hover {
  color: #7E7E82;
}

.language-switcher__item--active {
  color: #7E7E82;
}
